*{
  background-color: #E1E1E1;
  padding: 0;
  margin: 0;
}
/*Type Selectors*/
canvas {
  background: #eee;
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border-top: 20px;
  border-bottom: 20px;
  border-left: 20px;
  border-right: 20px;
  border-style:  double;
  border-color:  #48E5C2;
  background-color: #333333;
}

h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 5%;
  text-shadow: 3px #48E5C2;
  text-align: center;
}
nav {
  text-align: center;
  margin: 20px 0 0 ;
  padding: 10px 0;
  font-size: 30px;
  font-family: "Roboto", monospace;
  background-color: #48E5C2;
  font-weight: bold;

}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
  background-color: #48E5C2;

}

nav li {
   display: inline-block;
   padding: 5px 5px;
     background-color: #48E5C2;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: .80em;
  background-color: #48E5C2;
  color: white;
  font-weight: bold;

}
nav ul li a {
    text-decoration:none;
}

span{
    text-align: center;
    font-family: "Roboto", monospace;

    list-style-type: none;
  }
/*Class Selectors*/
.score{
font-size: 25px;
text-align: center;
font-weight: bold;
font-family: "Roboto", monospace;
  list-style-type: none;
}

.lives{
    list-style-type: none;
}
.home:hover{
  color: lightgray;
  font-size: 30px;
}

.tictactoe:hover{
    color: lightgray;
    font-size: 30px;
}

.connectFour:hover{
    color: lightgray;
    font-size: 30px;
}
.brickBreaker{
  font-weight: bold;
  color: #333333;
  font-size: 32px;
}
/*ID Selectors*/
#score{

  text-align: center;
  font-family: "Roboto", monospace;

}

#reset-button {
  background-color: #333333;
  border: 1px solid black;
  color: #FCFAF9;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
