 *{
  background-color: #E1E1E1;
}

h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 5%;
  text-shadow: 3px #48E5C2;
  text-align: center;
}
h2{
  text-align: center;
  font-family: "Roboto", monospace;
}
h3{
  text-align: center;
  font-family: "Roboto", monospace;
}

nav {
  text-align: center;
  margin: 20px 0 0 ;
  padding: 10px 0;
  font-size: 30px;
  font-family: "Roboto", monospace;
  background-color: #48E5C2;
  font-weight: bold;
}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
  background-color: #48E5C2;

}

nav li {
   display: inline-block;
   padding: 5px 5px;
     background-color: #48E5C2;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: .80em;
  background-color: #48E5C2;
  color: white;
  font-weight: bold;

}
nav ul li a {
    text-decoration:none;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;

}

.wrap {
  flex-wrap: wrap;
  height: 300px;
  width: 450px;
}

.circle {
  border: 1px solid rgba(0, 0, 0, 0.75);
  height: 50px;
  user-select: none;
  width: 50px;
  border-radius: 50px;
  margin: 3px 3px;
  background-color: #E1E1E1;
}
.box{
  border: 1px solid rgba(0, 0, 0, 0.75);
  height: 370px;
  padding-top: 20px;
  background-color: #003cff;
}

.score_Red{
font-size: 25px;
float: left;
position: relative;
left: 50px;
font-weight: bold;
font-family: "Roboto", monospace;

}

.score_Yellow{
font-size: 25px;
float: right;
position:relative;
right: 50px;
font-weight: bold;
font-family: "Roboto", monospace;
padding-bottom: 20px;
}

.home:hover{
  color: lightgray;
  font-size: 30px;
}

.tictactoe:hover{
    color: lightgray;
    font-size: 30px;
}

.connectFour{
  font-weight: bold;
  color: #333333;
  font-size: 32px;
}
.brickBreaker:hover{
    color: lightgray;
    font-size: 30px;
}

#board{
  background-color: #003cff;
}

#first_Yellow{
  background-color: #333333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  color: #FCFAF9;
  font-weight: bold;
}

#first_Red{
  background-color: #333333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  color:#FCFAF9;
  font-weight: bold;
}
#score_Red{
  list-style-type: none;
}

#score_Yellow{
    list-style-type: none;
}

#reset-button {
  background-color: #333333;
  border: 1px solid black;
  color: #FCFAF9;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
  position: relative;
  bottom: -90px;
  padding-left: -90px;
}

#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
