*{
  background-color: #E1E1E1;
}
/*Type Selectors */
h1{
  font-size: 80px;
  text-align: center;
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
}
nav {
  text-align: center;
  margin: 20px 0 0 ;
  padding: 10px 0;
  font-size: 30px;
  font-family: "Roboto", monospace;
  background-color: #48E5C2;
  font-weight: bold;

}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
  background-color: #48E5C2;

}

nav li {
   display: inline-block;
   padding: 5px 5px;
     background-color: #48E5C2;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: .80em;
  background-color: #48E5C2;
  color: white;
  font-weight: bold;

}
nav ul li a {
    text-decoration:none;
    }

/*Class Selectors*/

.img1{
  width: 500px;
  height: 300px;
  margin-right: 40px;
  border-width: 5px;
  border-color: #E1E1E1;
  border-radius: 30px;
}
.home{
  font-weight: bold;
  color: #333333;
  font-size: 32px;
}

.tictactoe:hover{
    color: lightgray;
    font-size: 30px;
}

.connectFour:hover{
    color: lightgray;
    font-size: 30px;
}
.brickBreaker:hover{
    color: lightgray;
    font-size: 30px;
}
/*ID Selectors*/
