/*tic tac toe*/
*{
  background-color: #E1E1E1;
}
/*Type Selectors*/
nav {
  text-align: center;
  margin: 20px 0 0 ;
  padding: 10px 0;
  font-size: 30px;
  font-family: "Roboto", monospace;
  background-color: #48E5C2;
  font-weight: bold;

}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
  background-color: #48E5C2;

}

nav li {
   display: inline-block;
   padding: 5px 5px;
     background-color: #48E5C2;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: .80em;
  background-color: #48E5C2;
  color: white;
  font-weight: bold;

}
nav ul li a {
    text-decoration:none;
    }

body {
  text-align: center;
  font-family: "Roboto", monospace;
}

h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 5%;
  text-shadow: 3px #48E5C2;
}
/*class selectors */

.games{
  font-size:  25px;
  font-family: "Roboto", monospace;
  background-color: #48E5C2;
  min-width: 100%;
  height: 90px;
  font-weight: bold;
}

.connectFour{
  position: relative;
  left: 800px;
  top: 25px;
  text-decoration: none;
  background-color: #48E5C2;
  color: #333333;
}

.tictactoe{
  position: relative;
  left: 300px;
  top: 25px;
  text-decoration: none;
  background-color: #48E5C2;
  color: white;
}

.checkers{
  display:inline;
  position: relative;
  left:290px;
  top: 25px;
  text-decoration: none;
  background-color: #48E5C2;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  background-color: #FCFAF9;
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}

.square:hover {
  background-color: lightgray;
  cursor: pointer;
}

.score_X{
font-size: 25px;
float: left;
position: relative;
left: 180px;
font-weight: bold;
}

.score_O{
font-size: 25px;
float: right;
position:relative;
right: 180px;
font-weight: bold;
}

/*ID Selectors*/
#reset-button {
  background-color: #333333;
  border: 1px solid black;
  color: #FCFAF9;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#score_X{
  list-style-type: none;
}

#score_O{
    list-style-type: none;
}

#first_X{
  background-color: #333333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  color: #FCFAF9;
  font-weight: bold;
}

#first_O{
  background-color: #333333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  color:#FCFAF9;
  font-weight: bold;
}

#board{
  border-radius: 20px;
  border-top: 20px;
  border-bottom: 20px;
  border-left: 20px;
  border-right: 20px;
  border-style:  double;
  background-color: #48E5C2;
}
